@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:1114px){
    

    body{
        width: 100vw;
        background-color:black;
        overflow-x: hidden;
    }

    span{
        color: yellow;
    }

    .inicio nav{
        left: 55%;
        font-size: 20px;
        padding: 10px;
        margin-left:20px ;
    }

    h2{
        font-size: 1.5em;
        padding: 20px;
    }
    img{
        width: 200px;
    }

    i#pesquisa{
        font-size: 1.7em;
        position: relative;
        left: 32%;
        top: -50px;
    }
    i#sino{
        font-size: 1.7em;
        position: relative;
        left: 35%;
        top: -50px;
    }
    i{
        margin-top: 100px;
        padding: 20px;
        font-size: 2em;
    }

    .filmes img{
        width: 200px;
    }
    .animes img{
        width: 200px;
    }
    .series img{
        width: 200px;
    }
    
    input#pexquisa{
        position: relative;
        left:25%;
        top: -150px;
        height: 30px;
        width: 400px;
        border-radius: 10px;
        border: none;
        background-color: rgb(230, 239, 241);
        text-indent: 10px;
        font-size: 16px;
        color:black;
        transition-duration: 1.2s;


    }

    .categorias{
        border: 2px solid ;
        height: 100%;
        width: 400px;
        border-radius: 10px;
        position: absolute;
        top:90px;
        left: -410px;
        background-color: black;
        transition-duration:  1.2s;
    }
    .voltar{
       position: relative;
       top: 10px;
       left: 340px;
    }

    .categorias > article > a {
        text-decoration: none;

    }
    .categorias > article > a:hover {
        text-decoration: underline;
       
    }
}






@media screen and (min-width:1115px) {
    body{
        background:black;
        overflow-x: hidden;
        
    }
    .inicio{
        position: relative;
        left:750px;

    }

    h1{
        font-size: 3.7em;
        padding: 50px 0px 0 50px ;
    }
    .inicio nav{
        font-size: 1.7em;
        margin-right: 0px;
        padding: 10px;
        left:32%;
        
        
    }
    h2{
        font-size: 1.7em;
        padding: 20px;
    }
    .filmes img{
        width: 300px;
        height: 400px;
    }
    .animes img{
        width: 300px;
        height: 400px;
    }
    .series img{
        width: 300px;
        height: 400px;
    }
    i#pesquisa{
        font-size: 2em;
        position: relative;
        left: 75%;
        top: -40px;
        transition: all 0.5s ease;
    }
    i#sino{
        font-size: 2em;
        position: relative;
        left: 75%;
        top: -40px;
    }
    i{
        margin-top: 160px;
        padding: 20px;
        font-size: 2em;
    }
    

    #pexquisa{
        position: relative;
        left:75%;
        top: -150px;
        height: 30px;
        width: 270px;
        border-radius: 10px;
        border: none;
        background-color: rgb(230, 239, 241);
        text-indent: 10px;
        font-size: 16px;
        color:black;
        transition-duration: 1.2s;
    
    
    }
}






